/* CSS for {Furry Dollop} by Daniel Cohen */
/* Stuff for all pages */

html, body {
    background-color: #fff;
}

h4 {
    font-weight: 200;
}

nav.navbar {
    margin-bottom: 2rem;
}

main {

}

div.container {
    padding: 0 4rem;
}


h4.login-h4 {
    text-align: left;
    font-size: 2rem;
}

div.login-block {
    border: 1px solid black;
    width: 30rem;
    margin: 0 auto;
    padding: 1rem;
}

div#login {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

svg {
    cursor: pointer;
}

/* -------- Lookup page --------- */

svg.bi.bi-music-note-beamed {

    color: white;
}

div.word-block {
    border: 1px solid black;
    margin-bottom: .75rem;
}

div.music {
    display: flex;
}

div.music-note {
    background-color: #2A2E37;
    padding: .25rem;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: .5rem;
}

div.row.outer-row {
    margin: auto;
    padding: .75rem 0;
}


div.input-group#in-gr-lookup {
    background-color: #2A2E37;
    height: 64px;
    justify-content: center;
    align-items: center;
}

div.input-group#in-gr-lookup::before {
    content: "";
    display: block;
    width: 6px;
    height: 100%;
    position: relative;
    background-color: #00FEDE;

}

div.input-group-append#in-gr-ap-lookup {
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-grow: 0.2;
}

button.btn-outline-light {
    border: none;
    border-radius: 0;
    width:100%;
}

input.form-control#word{
    display: inline-block;
    width: auto;
    border: none;
    background-color: #2A2E37;
    color: #fff;
    height: 100%;
    font-size: 30px;
}

form#search-form {
    margin: 0 auto;
}


/* -------- Media Queries -------- */

@media only screen and (max-width: 991px) {

    div.container {
        padding: 0 1rem;
    }

}