{% extends "layout.html" %}
{% block title %}
<title>Upload Furry Dollop</title>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="bg-danger">
            <h4 class="text-center text-light p-2">{{ messages[0] }}</h4>
        </div>
        {% endif %}
        {% endwith %}

        <form action="/lookup" method="post" id="search-form">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" id="word" name="word" class="form-control" required>
                    <div class="input-group-append">
                         <button type="submit" class="btn btn-outline-light"><svg width="1em" height="4em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
</svg></button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
{% if noword %}
<div class="row">
    <div class="col">
        <h3>{{ q }} was not found</h3>
        <h5>Did you mean:</h5>
        {% for word in noword %}
        <form action="/lookup" method="post">
            <a href="/lookup" class="research">{{ word }}</a>
            <input type="hidden" name="word">
        </form>
        {% endfor %}
    </div>
</div>
{% elif yesword%}
<div class="row">
    <div class="col">
        {% for word in yesword %}
        <div class="word-block">
            <div class="row">
                <div class="col-md-3">
                    {{ word.head }}
                </div>
                <div class="col-md-9">
                    <p>{{ word.stems }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

</div>
{% endblock %}

{% block script %}
<script>

<!--Through a great deal of trial and error, I came up with this function to allow a 're-search' of words-->
<!--that the MW dictionary came back with as alternates to a bad search. Grabs class list, on click grabs text, -->
<!--gets form, and changes the value of a hidden input to that text, then submits the form. This triggers a page -->
<!--refresh with the new search term-->

let searchNew = $('.research');
searchNew.on('click', function(e){
    e.preventDefault();
    let newWord = $(this).text();
    let form = $(this).parent();
    let inp = $(this).siblings().val(newWord);
    form.submit();
    console.log(form);
});




</script>
{% endblock %}