{% extends "layout.html" %}


{% block title %}

<title>Register - Furry Dollop</title>

{% endblock %}

{% block main %}
<div class="login-block">
    <div id="h4log">
        <h4 class="login-h4">Create Account</h4>
    </div>

    <div class="login-div" id="login">
        <form method="post" action="/register">
            <div class="form-group">
                <input type="text" autocomplete="off" autofocus placeholder="Username" name="username" maxlength="15"
                       class="form-control" id="user" required>
            </div>
            <div class="form-group">
                <input type="text" maxlength="25" placeholder="Password" name="password" class="form-control" id="pass"
                       required>
            </div>
            <div class="form-group">
                <input type="text" maxlength="25" placeholder="Retype Password" name="confirmpass" class="form-control"
                       id="confimrpass" required>
            </div>
            <button class="btn btn-primary btn-block" type="submit">Log In</button>
        </form>
    </div>
</div>
<div class="info">
    <small id="register">Have an account? You can log in <a href="/login">here</a> </small>
</div>
{% endblock %}